.button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid var(--black);
    font-size: 20px;
    letter-spacing: 2px;
    background-color: var(--white);
    font-weight: 700;
    transition: all 300ms ease;
    color: var(--black);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.button:hover{
    background-color: var(--black);
    color: var(--white);
}
.button:hover{
    background-color: var(--black);
    color: var(--white);
}
.button:hover .icon{
    /* background-color: var(--black); */
    color: var(--white);

}
.icon{
    color: var(--black);
    margin-left: 10px;
    font-size: 25px;
    font-weight: 800;
    transition: all 300ms ease;
    /* margin: 10px; */
    /* margin-top: 10px; */
}
[datatheme="dark"] .button.special{
    color: var(--yellow);
    border-color: var(--yellow);
}
[datatheme="dark"] .button.special:hover{
    background-color: var(--yellow);
    color: var(--white);
    
}
[datatheme="dark"] .button.special .icon{
    color: var(--yellow);
}

[datatheme="dark"] .button.special:hover .icon{
    /* background-color: var(--yellow); */
    color: var(--white);
    
}
.Next{
    position: absolute;
    bottom: 30px;
    right: 50px;
    padding: 15px;
    border-radius: 50px;
    border: 2px solid var(--black);
    font-size: 20px;
    letter-spacing: 2px;
    background-color: var(--white);
    font-weight: 700;
    transition: all 300ms ease;
    color: var(--black);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Next .icon{
    margin-left: 0px;
}
.Next:hover{
    background-color: var(--black);
    color: var(--white);
}
.Next:hover .icon{
    /* background-color: var(--black); */
    color: var(--white);

}

.shakeVertical {
	animation: shake-vertical 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s infinite both;
}
 @keyframes shake-vertical {
    0%,
    100% {
      transform: translateY(0);
    }
    
    50%,
    70% {
      transform: translateY(-8px);
    }
    40%,
    60% {
      transform: translateY(8px);
    }
    80% {
      transform: translateY(6.4px);
    }
    90% {
      transform: translateY(-6.4px);
    }
  }
  
