/* ========= section gap ========= */
.contactPage{
    margin-top: 70px;
    padding-top: 30px;
}
.contactPage{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subTitle{
    color: var(--gray);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}
.title{
    color: var(--black);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
}
[datatheme="dark"] .title{
    color: var(--yellow);
}
.contactSection{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.left{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 25px;
    flex-direction: column;
}
.card{
    height: 200px;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--black);
    overflow: hidden;
    position: relative;
    transition: all 300ms ease;
    cursor: pointer;
    text-align: center;
}
.card::after{
    content: '';
    position: absolute;
    bottom: -100px;
    right: -100px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--black);
    transform: scale(0);
    transition: all 400ms ease;
    z-index: -1;
}
.card:hover::after{
    transform: scale(4);
}
.cardIcon{
    font-size: 40px;
    color: var(--black);
}
.cardTitle{
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--black);
}
.cardDescription{
    color: var(--black);
    font-weight: 300;
}
.card:hover .cardIcon{
    color: var(--white);
}
.card:hover .cardTitle{
    color: var(--white);
}
.card:hover .cardDescription{
    color: var(--white);
}
.right{
    width: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.input{
    width: 100%;
    padding: 15px;
    font-size: 25px;
    border-radius: 20px;
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    letter-spacing: 2px;
    transition: all 300ms ease;
}
.textarea{
    resize: none;
    width: 100%;
    height: 180px;
    padding: 15px;
    font-size: 25px;
    border-radius: 20px;
    outline: none;
    background-color: var(--white);
    color: var(--black);
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    transition: all 300ms ease;
}

/* ========= Contact page ( RESPONSIVE ) ========= */
/* Desktop view */


@media only screen and (max-width: 1035px)
{
    .card{
        width: 250px;
    }
    .right{
        width: 500px;
    }
}
@media only screen and (max-width: 855px)
{
    .card{
        width: 200px;
    }
    .right{
        width: 450px;
    }
    .cardTitle{
        font-size: 20px;
    }
    .cardDescription{
        font-size: 12px;
    }
    .contactSection{
        justify-content: center;
        gap: 15px;
    }
    
}
/* Mobile View */

@media only screen and (max-width: 750px){
    .contactSection{
        flex-direction: column;
    }
    .card{
        width: 400px;
        height: fit-content;
        padding-top: 25px;
        padding-bottom: 25px;
        gap: 25px;
    }
    .cardIcon{
        font-size: 50px;
    }
    .cardTitle{
        font-size: 40px;
    }
    .cardDescription{
        font-size: 25px;
    }
    .right{
        width: 90%;
    }
}
@media only screen and (max-width: 495px){
    .card{
        width: 300px;
        height: fit-content;
        padding-top: 25px;
        padding-bottom: 25px;
        gap: 25px;
    }
    .cardIcon{
        font-size: 50px;
    }
    .cardTitle{
        font-size: 35px;
    }
    .cardDescription{
        font-size: 18px;
    }
}
@media only screen and (max-width: 390px){
    .card{
        width: 250px;
        height: fit-content;
        padding-top: 25px;
        padding-bottom: 25px;
        gap: 15px;
    }
    .cardIcon{
        font-size: 40px;
    }
    .cardTitle{
        font-size: 25px;
    }
    .cardDescription{
        font-size: 15px;
    }
}
@media only screen and (max-width: 311px){
    .card{
        width: 200px;
        height: fit-content;
        padding-top: 25px;
        padding-bottom: 25px;
        gap: 15px;
    }
    .cardIcon{
        font-size: 40px;
    }
    .cardTitle{
        font-size: 25px;
    }
    .cardDescription{
        font-size: 10px;
    }
}