.Typewriter__wrapper {
  color: var(--black);
  /* margin-left: 25px; */
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;

}
html{
  scroll-behavior: smooth;
}
.Typewriter__cursor {
  color: var(--gray);
  /* margin-left: 0px; */
  font-size: 30px;
  font-weight: 800;
}
.Typewriter{
    /* background-color: red; */
    margin-top: 15px;
}
[datatheme="dark"] .Typewriter__cursor{
  color: var(--yellow);
}
[datatheme="dark"] .Typewriter__wrapper{
  color: var(--black);
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.78);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--gray);
}

/* .main{
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  transition: all 300ms ease;
} */
section{
  min-height: 100vh;
  scroll-snap-align: start;
} 