/* ========= section gap ========= */
.projectPage {
  margin-top: 70px;
  padding-top: 30px;
  /* padding-bottom: 150px; */
}
.projectPage {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.projectSectionWrap{
  /* padding: 20px; */
  margin-top: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.projectSection {
  width: 1100px;
  padding: 10px;
  padding-right: 0px;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  cursor:grab;
}
.projectSection::-webkit-scrollbar {
  display: none;
}

.scrollButtonWrap{
  /* position: absolute; */
  /* top: 45%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--black);
  transition: all 300ms ease;
  cursor: pointer;
}
.scrollButtonWrap:hover{
  background: var(--black);
}

.scrollButton{
  
  font-size: 25px;
  color: var(--black);
  transition: all 300ms ease;
  
}
.scrollButtonWrap:hover .scrollButton{
  color: var(--white);
}
/* .left{
  left: -45px;

}
.right{
  right: -40px;
} */




.projectCard {
  width: 350px;
  padding: 20px;
  border: 1px solid var(--black);
  border-radius: 20px;
  transition: all 300ms ease;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  scroll-snap-align: start;
}
.projectCard img {
  width: 300px;
  border-radius: 20px;
  border: 2px solid var(--black);
}
.projectTitle {
  font-size: 30px;
  color: var(--black);
  letter-spacing: 2px;
  margin-top: 15px;
}
.buttonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > .project {
  scroll-snap-align: start;
}

/* .projectPage{
  background-color: red;
}
.projectSection{
  background-color: green;
}
.projectSectionWrap{
  background-color: blue;
} */

/* ========= Project Page ( RESPONSIVE ) ========= */
@media only screen and (max-width: 1300px)
{
  .projectSection{
    width: 720px;
  }
}
@media only screen and (max-width: 1080px)
{
  .projectCard{
    width: 300px;
  }
  .projectCard img{
    width: 250px;
  }
  .projectSection{
    width: 620px;
  }
}
@media only screen and (max-width: 830px)
{
  .projectCard{
    width: 350px;
  }
  .projectCard img{
    width: 300px;
  }
  .projectSection{
    width: 350px;
  }
}
@media only screen and (max-width: 675px)
{
  .projectSection{
    max-width: 500px;
  }
}
@media only screen and (max-width: 575px)
{
  .projectSection{
    max-width: 450px;
  }
}
@media only screen and (max-width: 570px)
{
  .scrollButtonWrap{
    display: none;
  }
  .projectSection{
    width: 450px;
  }
}
@media only screen and (max-width: 530px)
{
  .projectSection{
    max-width: 400px;
  }
  .projectCard{
    width: 350px;
  }
  .projectCard img{
    width: 300px;
  }
}
@media only screen and (max-width: 470px)
{
  .projectSection{
    width: 350px;
  }
  .projectCard{
    width: 280px;
  }
  .projectCard img{
    width: 230px;
  }
  .buttonSection {
    flex-direction: column;
  }
}
@media only screen and (max-width: 430px)
{
  .projectSection{
    width: 280px;
  }
}
@media only screen and (max-width: 360px)
{
  .projectCard{
    width: 250px;
  }
  .projectCard img{
    width: 200px;
  }
  .projectSection{
    width: 250px;
  }
}
@media only screen and (max-width: 310px)
{
  .projectCard{
    width: 200px;
  }
  .projectCard img{
    width: 150px;
  }
  .projectSection{
    width: 200px;
  }
}
