.dropNavbar {
    height: fit-content;
    width: fit-content;
    position: fixed;
    bottom: 30px;
    left: 30px;
  }
  .dropdownTrigger {
    height: 60px;
    width: 60px;
    background-color: var(--white);
    border: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease;
  }
  .icon{
    color: var(--black);
    font-size: 25px;
    transition: all 300ms ease;
  }
  .dropdownTrigger:hover {
    background-color: var(--black);
  }
  .dropdownTrigger:hover .icon {
    color: var(--white);
  }
  
  .dropdownMenu {
    position: absolute;
    bottom: 70px;
    right: -120px;
    border-radius: 10px;
    border: 1px solid var(--black);
    overflow: hidden;
    background-color: var(--white);
  }
  .dropItem {
    min-width: 180px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-size: 20px;
    gap: 15px;
    transition: all 300ms ease;
  }
  .dropItem:hover {
    background-color: var(--black);
    color: var(--white);
  }
  
  .dropdownMenu.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: all 300ms ease;
  }
  
  .dropdownMenu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: all 300ms ease;
  }
  