.Socials{
    padding: 15px;
    padding-left: 5px;
    background-color: var(--white);
    position: fixed;
    bottom: 25%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    border: 2px solid var(--black);
    border-left: none;
    flex-direction: column;
    gap: 20px;
}
.socialLink{
    padding: 10px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    
}
.socialLink:hover{
    background-color: var(--black);
}
.icon{
    color: var(--black);
    font-size: 30px;
    transition: all 300ms ease;
}
.socialLink:hover .icon{
    color: var(--white);
}