/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: var(--background-color); */
}

html {
  scroll-behavior: smooth;
}
.container{
  background-color: var(--white);
  width: 100%;
  min-height: 100vh;
  transition: all 300ms ease;
  position: relative;
  z-index: 0;
}

:root{
  --white: white;
  --black: #000000;
  --gray: #5a5a5a;
  --gray-shadow: #00000017;
}
[datatheme="dark"]{
  --white: #000000;
  --black: #ffffff;
  --gray-shadow: #ffffff17;
  --gray: #cfcfcf;
}